<% content_for(:title, "Recipes | The CookBook") %>

<h1>Recipes</h1>

<% if @tag %>
  <h3><%= @tag.name %> Recipes</h3>
  <% @tag.recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
<% elsif @recipes %>
  <h3>All Recipes</h3>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
<% end %>

<hr>

<% if @recipe.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <br />
<% end %>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Add Recipe
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <form action="/recipes" method="post">
          <%= render('form') %>
          <button class="btn btn-success">Add Recipe</button>
        </form>
      </div>
    </div>
  </div>
</div>




<hr>

<form action="/recipes" method="get">
  <label for="tag">Search by Tag:</label>
  <select id="tag" name="tags[tag_id]">
    <% @tags.each do |tag| %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>
  <button class="btn btn-warning">Search Recipes</button>
</form>

<hr>

<a href="/"><button class="btn btn-info">The CookBook</button></a>
