<h1><%= @recipe.name %></h1>

<h3>Recipe Instructions</h3>
<%= @recipe.content %>
<h3>Tags:</h3>
<% @recipe.tags.each do |tag| %>
  <%= tag.name %>
<% end %>
<p><a href="/recipes_tags/"><button class="btn btn-success">Add Tag</button></a></p>
<p><a href="/recipes/<%= @recipe.id %>/edit"><button class="btn btn-warning">Edit Recipe</button></a></p>
<p><a href="/recipes/<%= @recipe.id %>"
      data-confirm="Are you sure you wish to delete the <%= @recipe.name %> recipe?"
      data-method="delete"
      rel="nofollow"><button class="btn btn-danger">Delete</button></a></p>
<p><a href="/recipes"><button class="btn btn-info">Recipes List</button></a></p>
